body {
    font-family:monospace;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 14px;
}

#container {
    min-width:100%;
}
    
img {
    width:220px;
    height: 350px;
    padding-left: 350px;
    margin:auto;
    text-align:center;
    float: left;
}
    
#d1 {
    width:450px;
    margin:auto;
    text-align:center;
}
  
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

p {
    margin-top: -20px;
}

h6 {
    color: gray;
}

a {
    text-decoration-line: none;
    text-transform: uppercase;
    color: white;
    background-color: grey;
    padding: 10px;
}