body {
background-color: #EAEBED;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
display: inline-block;
width: 45%;
margin-top: 140px;
margin-left: 25%;
}

img {
display: inline-block;
width: 35%;
float: left;
}

div {
width: 50%;
display: inline-block;
float: right;
text-align: center;
top: 35%;
}

h1 {
    display: inline-block;
    width: 100%;
    font-size: 80px;
    text-align: center;
    margin:0;
    margin-bottom: 30px;
}

p {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-align: center ;
    margin: 0;
    font-size: 22px;
}

h6 {
    display: inline-block;
    width: 100%;
    text-align: center ;
}

a {
    display: inline-block;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    text-decoration: none;

}

/* sventa marija
div {
    display: inline-block       visada
    width: 100%                 visada, pagal poreiki
    float: left| right;
}
*/